<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %t %-5level %logger{36} - %msg %cthrowable{full}%n" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="app.log"
			filePattern="app-%d{MM-dd-yyyy}-%i.log.gz"
			append="true"
			>			
			<PatternLayout>
				<alwaysWriteExceptions>false</alwaysWriteExceptions>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %t %-5level %logger{36} - %msg %cthrowable{full}%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com" level="info" additivity="false">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>
		<Logger name="com" level="debug" additivity="false">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>
		
		<Logger name="org.springframework" level="info" additivity="false">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>	
		
		<Root level="error">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="LogToConsole" />
		</Root>
	</Loggers>
</Configuration>