<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <listener>
    <listener-class>it.swdes.servlet.ContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>faiservlet</servlet-name>
    <servlet-class>fai.servlet.FaiServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>faiservlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <env-entry>
    <env-entry-name>logdir</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>c:\\logs</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>loglevel</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>DEBUG</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>logfilename</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>FaiServlet.log</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbDriver</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>oracle.jdbc.driver.OracleDriver</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbUrl</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>jdbc:oracle:thin:@192.168.21.245:1521:odb</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbUser</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>fai</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbPassword</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>fai</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dataSourceName</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>jdbc/anag</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>mailSmtpHost</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>m.outlook.com</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>mailSmtpPort</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>587</env-entry-value>
  </env-entry>

</web-app>
