.fade-in {
  animation-name: FadeIn;
  animation-duration: 1s;
  transition-timing-function: linear;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-header {
  background-color: #20a8d8;
  color: white;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  overflow: hidden;

  .close {
    color: white;
    opacity: 1;
  }
}

.fa.fa-trash, .fa.fa-plus {
  font-size: 16px;
}

.tab-body-max-width {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.configure-btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-box {
  display: flex;
  justify-content: space-between;

  .w-30 {
    width: 30%;
  }

  .w-35 {
    width: 35%;
  }

  .w-40 {
    width: 40%;
  }
  .w-50 {
    width: 50%;
  }
  .w-70 {
    width: 70%;
  }

  .w-80 {
    width: 80%;
  }
  .min-w-115px {
    min-width: 115px;
  }
}

::ng-deep {
  #calendarTable {
    table {
      th:last-child {
        min-width: 275px;
      }
      td:last-child {
        padding-right: 0;
      }
    }
  }
  .products-table {
    .cdk-column-File-Name {
      min-width: 240px;
    }
    .cdk-column-Minsan {
      min-width: 100px;
    }
  }
}
